<fieldset class=main-fieldset>
	<legend>Настройки камеры (КН)</legend>
	
	<table class="head-table">
		<tbody>
			<tr>
				<td>
					<table class="table-nobordered table-kv-pair table-equal-cells">
						<tbody>
							<tr>
								<td>FlgFPU:</td>
								<td><input type="text" id="textboxFlgFPU" value="8" maxlength="10"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="table-kv-pair table-equal-cells">
						<tbody>
							<tr>
								<td>
									Питание камеры
								</td>

								<td>
									<input type="checkbox" id="checkboxFlgFPU0">
								</td>
							</tr>

							<tr>
								<td>
									Мультиэкспозиция при съёмке
								</td>

								<td>
									<input type="checkbox" id="checkboxFlgFPU2">
								</td>
							</tr>

							<tr>
								<td>
									Передача служебных видеоданных
								</td>

								<td>
									<input type="checkbox" id="checkboxFlgFPU3" checked>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="table-nobordered table-kv-pair table-equal-cells">
						<tbody>
							<tr>
								<td>Al:</td>
								<td><input type="text" id="textboxAl" value="1472" maxlength="10"></td>
							</tr>
				
							<tr>
								<td>Ah:</td>
								<td><input type="text" id="textboxAh" value="0" maxlength="10"></td>
							</tr>				
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="table-nobordered table-kv-pair table-equal-cells">
						<tbody>
							<tr>
								<td>Fl:</td>
								<td><input type="text" id="textboxFl" value="1373" maxlength="10"></td>
							</tr>
				
							<tr>
								<td>Fh:</td>
								<td><input type="text" id="textboxFh" value="0" maxlength="10"></td>
							</tr>			
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="table-nobordered table-kv-pair table-equal-cells">
						<tbody>
							<tr>
								<td>Ml:</td>
								<td><input type="text" id="textboxMl" value="62368" maxlength="10"></td>
							</tr>
				
							<tr>
								<td>Mh:</td>
								<td><input type="text" id="textboxMh" value="19592" maxlength="10"></td>
							</tr>
				
							<tr>
								<td>Gna_Cdsa:</td>
								<td><input type="text" id="textboxGna_Cdsa" value="2446" maxlength="10"></td>
							</tr>
				
							<tr>
								<td>Gnb_Cdsb:</td>
								<td><input type="text" id="textboxGnb_Cdsb" value="2" maxlength="10"></td>
							</tr>
				
							<tr>
								<td>Blk:</td>
								<td><input type="text" id="textboxBlk" value="62368" maxlength="10"></td>
							</tr>
				
							<tr>
								<td>Cpb:</td>
								<td><input type="text" id="textboxCpb" value="0" maxlength="10"></td>
							</tr>
				
							<tr>
								<td>Cpe:</td>
								<td><input type="text" id="textboxCpe" value="0" maxlength="10"></td>
							</tr>
				
							<tr>
								<td>on_TLK:</td>
								<td><input type="text" id="textboxon_TLK" value="0" maxlength="10"></td>
							</tr>		
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table-nobordered">
		<tbody>
			<tr>
				<td><button disabled id="buttonSetRE">Режим управления экспозицией (РЭ)</button></td>
			</tr>

			<tr>
				<td><button disabled id="buttonSendCameraSettings">Отправить КН</button></td>
			</tr>

			<tr>
				<td><button disabled id="buttonSetExposureTime">Основное время экспозиции (ВЭ)</button></td>
			</tr>

			<tr>
				<td><button disabled id="buttonSetFramePeriod">Кадровый период (ПК)</button></td>
			</tr>

			<tr>
				<td><button id="buttonReadCameraSettings">Считать настройки камеры с прибора</button></td>
			</tr>
		</tbody>
	</table>
</fieldset>

<script src="camera_settings.js" onload="main();"></script>