<fieldset class=main-fieldset>
	<legend>КОНТРОЛЬНАЯ ИНФОРМАЦИЯ</legend>
	
	<table class="head-table">
		<tbody>
			<!-- <tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Текущее время:</td>
								<td id="tdWorldTime">...</td>	
							</tr>
				
							<tr>
								<td>Номер кадра:</td>
								<td id="tdFrameNumber">...</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr> -->
	
			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Децимальный номер прибора:</td>
								<td id="tdDNUMBER">...</td>
							</tr>
				
							<tr>
								<td>Заводской номер прибора:</td>
								<td id="tdFACTNUMBER">...</td>
							</tr>
				
							<tr>
								<td>Номер прошивки вычислительного устройства:</td>
								<td id="tdFWVER0">...</td>
							</tr>
				
							<tr>
								<td>Номер прошивки микросхемы управления:</td>
								<td id="tdFWVER1">...</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Напряжение питания микросхемы памяти:</td>
								<td><label id="tdVMEM0">...</label><label>В</label></td>
							</tr>
				
							<tr>
								<td>Напряжение питания микросхемы памяти:</td>
								<td><label id="tdVMEM1">...</label><label>В</label></td>
							</tr>
				
							<tr>
								<td>Напряжение питания микросхемы памяти:</td>
								<td><label id="tdVMEM2">...</label><label>В</label></td>
							</tr>
				
							<tr>
								<td>Напряжение питания микросхемы памяти:</td>
								<td><label id="tdVMEM3">...</label><label>В</label></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Температура:</td>
								<td><label id="tdTCMOS">...</label><label>°C</label></td>
							</tr>

							<tr>
								<td>Счётчик включений прибора:</td>
								<td id="tdPowerUpCnt">...</td>
							</tr>
				
							<tr>
								<td>Количество нештатных отключений пользователем:</td>
								<td id="tdErPowerUpCnt_user">...</td>
							</tr>
				
							<tr>
								<td>Количество собственных нештатных отключений:</td>
								<td id="tdErPowerUpCnt_self">...</td>
							</tr>

							<tr>
								<td>Указатель номера страницы:</td>
								<td id="tdCUR_FLASH_page">...</td>
							</tr>

							<tr>
								<td>Сохранность штатного ПО:</td>
								<td id="tdProject_Status">...</td>
							</tr>

							<tr>
								<td>Счетчик некорректных массивов:</td>
								<td id="tdError_cnt">...</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

	<details>
		<summary>СТАТУС ПРИБОРА</summary>
		<table class="zebra-table table-nobordered table-kv-pair">
			<tbody>
				<tr>
					<td>Наличие секундной метки:</td>
					<td id="tdDeviceStatus_LSW_0">...</td>
				</tr>

				<tr>
					<td>Состояние УВФ:</td>
					<td id="tdDeviceStatus_LSW_1">...</td>
				</tr>

				<tr>
					<td>Функционирование конфигурации ПЛИС:</td>
					<td id="tdDeviceStatus_LSW_2">...</td>
				</tr>

				<tr>
					<td>Признак успешного распознавания:</td>
					<td id="tdDeviceStatus_MSW_0">...</td>
				</tr>

				<tr>
					<td>Признак первичного распознавания:</td>
					<td id="tdDeviceStatus_MSW_1">...</td>
				</tr>

				<tr>
					<td>Признак засветки:</td>
					<td id="tdDeviceStatus_MSW_2">...</td>
				</tr>

				<tr>
					<td>Счётчик принятых массивов АПИ:</td>
					<td id="tdDeviceStatus_MSW_3">...</td>
				</tr>
			</tbody>
		</table>
	</details>

	<details>
		<summary>СТАТУС АСТРООРИЕНТАЦИИ</summary>
		<table class="zebra-table table-nobordered table-kv-pair">
			<tbody>
				<tr>
					<td>Значение поля:</td>
					<td id="tdQStatus_0">...</td>	
				</tr>

				<tr>
					<td>Признак засветки:</td>
					<td id="tdQStatus_1">...</td>	
				</tr>

				<tr>
					<td>Признак высокой угловой скорости:</td>
					<td id="tdQStatus_2">...</td>	
				</tr>

				<tr>
					<td>Признак малого угла от горизонта Земли:</td>
					<td id="tdQStatus_3">...</td>	
				</tr>

				<tr>
					<td>Признак малого угла от Солнца:</td>
					<td id="tdQStatus_4">...</td>	
				</tr>

				<tr>
					<td>Признак малого угла от Луны:</td>
					<td id="tdQStatus_5">...</td>	
				</tr>

				<tr>
					<td>Количество нераспознанных объектов из 10-ти самых ярких:</td>
					<td id="tdQStatus_6">...</td>	
				</tr>

				<tr>
					<td>Количество звезд, используемых для определения ориентации:</td>
					<td id="tdQStatus_7">...</td>
				</tr>
			</tbody>
		</table>
	</details>
</fieldset>

<fieldset class=main-fieldset id="fieldsetSet0xFCPeriod">
	<legend>УПРАВЛЕНИЕ ВЫДАЧЕЙ КИ</legend>
	<table class="table-nobordered table-kv-pair">
		<tr>
			<td>
				<input type="checkbox" id="checkboxTelem"/>
			</td>

			<td>
				<button id="buttonSetTelemPeriod">Установить период, с:</button>
			</td>

			<td>
				<input id="textboxSetTelemPeriod" type="text" value="10">
			</td>
		</tr>
	</table>
</fieldset>

<script src="control_info.js" onload="main();"></script>