<div>
	<button onclick="AJAXLoadPage(`zd_video_record.html`);">Страница записи видео</button>

	<fieldset class=main-fieldset>
		<button id="buttonEnableVidVis">Включить VidVis</button>

		<table class="table-nobordered">
			<tbody id="tbodyMain"></tbody>
		</table>
	</fieldset>
</div>

<script src="debug_mode.js" onload="main();"></script>