<fieldset class="main-fieldset">
	<legend>Просмотр считанных изображений</legend>
	
	<table class="table-nobordered">
		<tbody>
			<tr>
				<td>
					<div id="videoUIContainer" style="display: contents;">
						<div id="videoContainer">
							<img class="video-img" id="videoError" src="novideo.jpg">

							<div id="videoEffectContainer">
								<canvas id="canvasVideo" style="
									width: 100%;
									height: 100%;
								">
								<!-- <img class="video-img" id="video" hidden></img> -->
							</div>
						</div>
					</div>				
				</td>
			</tr>

			<tr id="trControls">
				<td>
					<table class="table-nobordered">
						<tbody>
							<tr id="trFrameNumber" hidden>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td><input type="range" min="0" id="sliderFrameNumber" value="0"></td>
											</tr>
											
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td>Номер кадра:</td>
																<td style="width: 20ch;">
																	<table class="table-nobordered">
																		<tbody>
																			<tr>
																				<td>
																					<input type="text" id="textboxFrameNumber" value="0">
																				</td>
				
																				<td style="font-family: monospace;">
																					из<label id="labelFramesTotal">0</label>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
				
							<tr>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td><input type="range" min="0" max="255" id="sliderBrightness" disabled></td>
											</tr>
				
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td>Яркость:</td>
																<td id="tdBrightness">0</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
				
							<tr>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td><input type="range" min="0" max="255" id="sliderContrast" disabled></td>
											</tr>
				
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td>Контраст:</td>
																<td id="tdContrast">0</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td><input type="range" min="0" max="100" id="sliderGamma" disabled></td>
											</tr>
				
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td>Гамма:</td>
																<td id="tdGamma">0</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
				
						</tbody>
					</table>
				</td>
			</tr>
			
			<tr>
				<td>
					<table class="table-nobordered table-equal-cells">
						<tbody>
							<tr>
								<td>
									<form id="formDownloadTiff">
										<button style="width: 100%;" id="buttonDownloadTiff">Скачать tiff</button>
									</form>
								</td>

								<td>
									<form id="formDownloadRaw">
										<button style="width: 100%;" id="buttonDownloadRaw">Скачать сырую запись</button>
									</form>
								</td>

								<td>
									<form id="formDownloadTelemText">
										<button style="width: 100%;" id="buttonDownloadTelemText">Скачать телеметрию в текстовом виде</button>
									</form>
								</td>
								
								<td>
									<button id="buttonClearCache">Очистить считаные изображения</button>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			
			<tr id="trLvdsProgress">
				<td>
					<table class="table-nobordered">
						<tbody>
							<tr>
								<td id="tdLvdsDecodingState"></td>
							</tr>

							<tr>
								<td><progress id="progressLvdsDecoding" max="1000" min="0" value="0"></progress></td>
							</tr>

							<tr>
								<td>
									<details open="open">
										<summary>Счётчик пакетов</summary>

										<table class="table-nobordered table-kv-pair zebra-table">
											<tbody>
												<tr>
													<td>Поле данных:</td>
													<td id="tdLvdsChunksCounter">0</td>
												</tr>

												<tr>
													<td>Пактов видео:</td>
													<td id="tdLvdsPkgVideoCounter">0</td>
												</tr>

												<tr>
													<td>Пакеты телеметрии:</td>
													<td id="tdLvdsTelemCounter">0</td>
												</tr>
												
												<tr>
													<td>Всего пакетов:</td>
													<td id="tdLvdsPkgCounter">0</td>
												</tr>

												<tr>
													<td>Кадров видео:</td>
													<td id="tdLvdsFramesCounter">0</td>
												</tr>
											</tbody>
										</table>
									</details>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>

<script src="flash_video.js" onload="main();"></script>