<fieldset class=main-fieldset>
	<legend>Управление ИЗН</legend>
	
	<table class="table-nobordered">
		<tbody>
			<tr id="trIznIsNotAvailableMessage">
				<td style="font-size: 18px; font-weight: bold;">ИЗН выключен</td>
			</tr>

			<tr id="trAll" hidden>
				<td>
					<table class="table-nobordered">
						<tbody>
							<tr>
								<td>
									<button id="buttonStarsCalib" style="width: 40ch;">Запуск калибровки</button>
								</td>
							</tr>
				
							<tr id="trCalibProgress" hidden>
								<td>
									<table class="table-kv-pair table-nobordered">
										<tbody>
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td><label>Идёт процесс калибровки</label>:</td>
																<td><label id="labelCalibProgress">000</label>%</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										
											<tr>
												<td><progress id="progressCalib" max="1000" min="0" value="0"></progress></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
				
							<tr id="trMain">
								<td>
									<table class="table-nobordered">
										<tr>
											<td>
												<table class="table-equal-cells">
													<tbody>
														<tr>
															<td>
																<table class="table-nobordered">
																	<tbody>
																		<tr>
																			<td>
																				<table class="table-nobordered table-kv-pair">
																					<tbody>
																						<tr>
																							<td>Угловая скорость</td>
																							<td style="width: 10ch;"><input type="text" id="textboxAngleSpeed" value="0" maxlength="20"></td>
																							<td style="width: 5ch; font-family: monospace;">°/с</td>
																						</tr>
															
																						<tr>
																							<td>Угловое ускорение</td>
																							<td><input id="textboxAngleAcceleration" type="text" value="0" maxlength="20"></td>
																							<td style="width: 5ch; font-family: monospace;">°/с<sup>2</sub></td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
															
																		<tr>
																			<td>
																				<button id="buttonSetSpeedState">Применить</button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
											
															<td>
																<table class="table-nobordered">
																	<tbody>
																		<tr>
																			<td>
																				<table class="table-nobordered">
																					<thead>
																						<th>Текущее положение</th>
																					</thead>
											
																					<tbody>
																						<tr>
																							<td>
																								<table class="table-nobordered">
																									<tbody>
																										<tr>
																											<td>
																												<table class="table-nobordered table-kv-pair">
																													<tbody>
																														<tr>
																															<td>R.A.:</td>
																															<td>
																																<label id="labelRADeg">000</label>°
																																<label id="labelRAMin">00</label>'
																																<label id="labelRASec">00</label>"
																															</td>
																														</tr>
															
																														<tr>
																															<td>Dec.:</td>
																															<td>
																																<label id="labelDecDeg">000</label>°
																																<label id="labelDecMin">00</label>'
																																<label id="labelDecSec">00</label>"
																															</td>
																														</tr>
															
																														<tr>
																															<td>Roll.:</td>
																															<td>
																																<label id="labelRollDeg">000</label>°
																																<label id="labelRollMin">00</label>'
																																<label id="labelRollSec">00</label>"
																															</td>
																														</tr>
																													</tbody>
																												</table>
																											</td>
																										</tr>
							
																										<tr>
																											<td>
																												<table class="table-nobordered table-kv-pair">
																													<tbody>
																														<tr>
																															<td>Скорость:</td>
																															<td id="tdSpeed">0</td>
																															<td style="width: 5ch; font-family: monospace;">°/с</td>
																														</tr>
								
																														<tr>
																															<td>Ускорение:</td>
																															<td id="tdAcceleration">0</td>
																															<td style="width: 5ch; font-family: monospace;">°/с<sup>2</sub></td>
																														</tr>
																													</tbody>
																												</table>
																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
							
										<tr>
											<td>
												Яркость ИЗН: <input type="range" name="rangeIznHue" id="rangeIznHue" min="0" max="100" value="0"/>
											</td>
										</tr>

										<tr>
											<td>
												<table>
													<tbody>
														<tr>
															<td style="text-align: left; font-size: 18px; font-weight: bold;">
																<label><input type="checkbox" id="checkboxAngles" checked>Углы:</label>
															</td>
														</tr>
							
														<tr>
															<td>
																<table class="table-nobordered table-kv-pair zebra-table">
																	<tbody>
																		<tr>
																			<td>Прямое восхождение (R.A.):</td>
																			<td style="width: 5ch;"><input type="text" id="textboxRADeg" value="0" maxlength="5"></td>
																			<td style="font-family: monospace;">°</td>
																			<td style="width: 5ch;"><input type="text" id="textboxRAMin" value="0" maxlength="5"></td>
																			<td style="font-family: monospace;">'</td>
																			<td style="width: 5ch;"><input type="text" id="textboxRASec" value="0" maxlength="5"></td>
																			<td style="font-family: monospace;">"</td>
																		</tr>
							
																		<tr>
																			<td>Склонение (Dec.):</td>
																			<td><input type="text" id="textboxDecDeg" value="0" maxlength="5"></td>
																			<td style="font-family: monospace;">°</td>
																			<td><input type="text" id="textboxDecMin" value="0" maxlength="5"></td>
																			<td style="font-family: monospace;">'</td>
																			<td><input type="text" id="textboxDecSec" value="0" maxlength="5"></td>
																			<td style="font-family: monospace;">"</td>
																		</tr>
							
																		<tr>
																			<td>Поворот оси визирования (Roll.):</td>
																			<td><input type="text" id="textboxRollDeg" value="0" maxlength="5"></td>
																			<td style="font-family: monospace;">°</td>
																			<td><input type="text" id="textboxRollMin" value="0" maxlength="5"></td>
																			<td style="font-family: monospace;">'</td>
																			<td><input type="text" id="textboxRollSec" value="0" maxlength="5"></td>
																			<td style="font-family: monospace;">"</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
							
														<tr>
															<td style="text-align: left; font-size: 18px; font-weight: bold;">
																<label><input type="checkbox" id="checkboxQuat" checked>Кватернион:</label>
															</td>
														</tr>
							
														<tr>
															<td>
																<table class="table-nobordered">
																	<tbody>
																		<tr>
																			<td>
																				<table class="table-nobordered table-kv-pair zebra-table">
																					<tbody>
																						<tr>
																							<td>Первый компонент кватерниона:</td>
																							<td><input type="text" id="textboxQ0" value="0"></td>
																						</tr>
											
																						<tr>
																							<td>Второй компонент кватерниона:</td>
																							<td><input type="text" id="textboxQ1" value="0"></td>
																						</tr>
											
																						<tr>
																							<td>Третий компонент кватерниона:</td>
																							<td><input type="text" id="textboxQ2" value="0"></td>
																						</tr>
											
																						<tr>
																							<td>Четвёртый компонент кватерниона:</td>
																							<td><input type="text" id="textboxQ3" value="0"></td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
				
																		<tr id="trQuatError" hidden style="
																		background-color: indianred;
																		color: whitesmoke;">
																			<td>Кватернион не может быть нулевым!</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
				
														<tr>
															<td>
																<table class="table-nobordered table-kv-pair">
																	<tbody>
																		<tr>
																			<td>Время поворота</td>
																			<td><input type="text" id="textboxRotationTime" value="0"></td>
																			<td>мс</td>
																			<td><button id="buttonRotateStart">Старт</button></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
				
										<tr>
											<td>
												<table>
													<tbody>
														<tr>
															<td>
																<table class="table-nobordered">
																	<tbody>
																		<tr>
																			<td style="text-align: left; font-size: 18px; font-weight: bold;">
																				Задать непрерывное вращение вокруг вектора
																			</td>
																		</tr>
																		
																		<tr>
																			<td>
																				<table class="table-nobordered">
																					<thead>
																						<th>X</th>
																						<th>Y</th>
																						<th>Z</th>
																					</thead>
								
																					<tbody>
																						<tr>
																							<td><input type="text" id="textboxSetAxisRotatingX" value="0"></td>
																							<td><input type="text" id="textboxSetAxisRotatingY" value="0"></td>
																							<td><input type="text" id="textboxSetAxisRotatingZ" value="0"></td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
								
																		<tr>
																			<td>
																				<table class="table-nobordered table-kv-pair">
																					<tbody>
																						<tr>
																							<td>С угловой скоростью</td>
																							<td><input type="text" id="textboxSetAxisRotatingSpeed" value="0"></td>
																							<td style="
																							width: 4ch;
																							font-family: monospace;
																							">°/с</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
								
																		<tr>
																			<td><button id="buttonSetAxisRotating" style="width: 40ch;">Применить</button></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
							
										<tr>
											<td>
												<table>
													<tbody>
														<tr>
															<td>
																<table class="table-nobordered">
																	<thead>
																		<th>Отображать</th>
																	</thead>
								
																	<tbody>
																		<tr>
																			<td>
																				<table class="table-nobordered" style="text-align: left; font-size: 18px; font-weight: bold;">
																					<tr>
																						<td><label><input type="checkbox" disabled id="checkboxStars" checked>Звёзды</label></td>
																						<td><label><input type="checkbox" disabled id="checkboxMoon">Луна</label></td>
																						<td><label><input type="checkbox" disabled id="checkboxSun">Солнце</label></td>
																						<td><label><input type="checkbox" disabled id="checkboxAdjObjs">Дополнительные объекты</label></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
							
										<tr id="trMoon" hidden>
											<td>
												<table>
													<tbody>
														<tr>
															<td>
																<table class="table-nobordered head-table">
																	<tbody>
																		<tr>
																			<td>
																				<table class="table-nobordered table-kv-pair table-kv-pair-with-textbox zebra-table">
																					<thead>
																						<th></th>
																						<th></th>
																						<th>Текущеее значение</th>
																						<th></th>
																					</thead>
																					
																					<tbody>
																						<tr>
																							<td style="width: 18ch;">R.A.:</td>
																							<td><input type="text" id="textboxMoonRA" value="0"></td>
																							<td id="tdMoonRA">0.000</td>
																							<td style="width: 5ch;">°</td>
																						</tr>
															
																						<tr>
																							<td>Dec.:</td>
																							<td><input type="text" id="textboxMoonDec" value="0"></td>
																							<td id="tdMoonDec">0.000</td>
																							<td style="width: 5ch;">°</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
											
																		<tr>
																			<td><button id="buttonApplyMoon" style="width: 40ch;">Применить</button></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
							
										<tr id="trSun" hidden>
											<td>
												<table>
													<tbody>
														<tr>
															<td>
																<table class="table-nobordered head-table">
																	<tbody>
																		<tr>
																			<td>
																				<table class="table-nobordered table-kv-pair table-kv-pair-with-textbox zebra-table">
																					<thead>
																						<th></th>
																						<th></th>
																						<th>Текущеее значение</th>
																						<th></th>
																					</thead>
																					
																					<tbody>
																						<tr>
																							<td style="width: 18ch;">R.A.:</td>
																							<td><input type="text" id="textboxSunRA" value="0"></td>
																							<td id="tdSunRA">0.000</td>
																							<td style="width: 5ch;">°</td>
																						</tr>
															
																						<tr>
																							<td>Dec.:</td>
																							<td><input type="text" id="textboxSunDec" value="0"></td>
																							<td id="tdSunDec">0.000</td>
																							<td style="width: 5ch;">°</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
											
																		<tr>
																			<td><button id="buttonApplySun" style="width: 40ch;">Применить</button></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
							
										<tr id="trAdjObjs" hidden>
											<td>
												<table>
													<tbody>
														<tr>
															<td>
																<table class="table-nobordered head-table">
																	<tbody id="tbodyAdjObjs">
																		<tr>
																			<td>
																				<table class="table-nobordered">
																					<tr>
																						<td>
																							<table class="table-nobordered table-kv-pair table-kv-pair-with-textbox zebra-table">
																								<thead>
																									<th></th>
																									<th></th>
																									<th>Текущее значение</th>
																									<th></th>
																								</thead>

																								<tbody id="tbodyAdjObjs">
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
								
																		<tr>
																			<td>
																				<table class="table-nobordered table-equal-cells">
																					<tbody>
																						<tr>
																							<td><button id="buttonApplyAdjObjs">Старт</button></td>
																							<td><button id="buttonAdjObjsCurrentToTextboxes">Записать текущие значения в поля для ввода</button></td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>

														<tr>
															<td>
																<table style="width:100%; border:1px solid white;" id="shtable">
																	<tr>
																		<td>
																			<table style="width:100%;">
																				<caption>
																					Текущие параметры положения объекта
																				</caption>
																				<tr>
																					<td style="width:15%;">X</td>
																					<td style="width:35%;" id="SHUTTLE_X"></td>
																					<td style="width:15%;">Q0</td>
																					<td style="width:35%;" id="SHUTTLE_Q0"></td>
																				</tr>
																				<tr>
																					<td>Y</td>
																					<td id="SHUTTLE_Y"></td>
																					<td>Q1</td>
																					<td id="SHUTTLE_Q1"></td>
																				</tr>
																				<tr>
																					<td>Z</td>
																					<td id="SHUTTLE_Z"></td>
																					<td>Q2</td>
																					<td id="SHUTTLE_Q2"></td>
																				</tr>
																				<tr>
																					<td>Ke</td>
																					<td id="SHUTTLE_KE"></td>
																					<td>Q3</td>
																					<td id="SHUTTLE_Q3"></td>
																				</tr>
																				<tr>
																					<td>Ks</td>
																					<td id="SHUTTLE_KS"></td>
																					<td>Ka</td>
																					<td id="SHUTTLE_KA"></td>
																				</tr>
																			</table>
																		</td>
																	</tr>
																	<tr>
																		<td style="width:100%;">
																			<table style="width:100%;">
																				<caption>
																					Параметры положения объекта
																				</caption>
																				<tr>
																					<td style="width:8%;"></td>
																					<td style="width:42%;">
																						Координаты
																					</td>
																					<td style="width:8%;"></td>
																					<td style="width:42%;">
																						Скорости движения
																					</td>
																				</tr>
																				<tr>
																					<td>X:</td>
																					<td>
																						<input id="shcx" style="width:80%;" /> м
																					</td>
																					<td>VX:</td>
																					<td>
																						<input id="shvx" style="width:80%;" /> м/с
																					</td>
																				</tr>
																				<tr>
																					<td>Y:</td>
																					<td>
																						<input id="shcy" style="width:80%;" /> м
																					</td>
																					<td>VY:</td>
																					<td>
																						<input id="shvy" style="width:80%;" /> м/с
																					</td>
																				</tr>
																				<tr>
																					<td>Z:</td>
																					<td>
																						<input id="shcz" style="width:80%;" /> м
																					</td>
																					<td>VZ:</td>
																					<td>
																						<input id="shvz" style="width:80%;" /> м/с
																					</td>
																				</tr>
																			</table>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<table style="width:100%;">
																				<caption>
																					Параметры ориентации объекта
																				</caption>
																				<tr>
																					<td style="width:8%;"></td>
																					<td style="width:42%;">
																						Кватернион
																					</td>
																					<td style="width:8%;"></td>
																					<td style="width:42%;">
																						Скорости вращения
																					</td>
																				</tr>
																				<tr>
																					<td>Q0:</td>
																					<td>
																						<input id="shq0" style="width:80%;" /> 
																					</td>
																					<td>WX:</td>
																					<td>
																						<input id="shwx" style="width:80%;" /> °/с
																					</td>
																				</tr>
																				<tr>
																					<td>Q1:</td>
																					<td>
																						<input id="shq1" style="width:80%;" /> 
																					</td>
																					<td>WY:</td>
																					<td>
																						<input id="shwy" style="width:80%;" /> °/с
																					</td>
																				</tr>
																				<tr>
																					<td>Q2:</td>
																					<td>
																						<input id="shq2" style="width:80%;" /> 
																					</td>
																					<td>WZ:</td>
																					<td>
																						<input id="shwz" style="width:80%;" /> °/с
																					</td>
																				</tr>
																				<tr>
																					<td>Q3:</td>
																					<td>
																						<input id="shq3" style="width:80%;" /> 
																					</td>
																					<td></td>
																					<td>
																						<input type="button" value="Применить" style="width:80%;" onclick="shcoordsend()" />
																					</td>
																				</tr>
																			</table>
																		</td>
																	</tr>
											
																	<tr>
																		<td>
																			<table style="width:100%;">
																				<caption>
																					Параметры яркости объекта
																				</caption>
																				<tr>
																					<td style="width:8%;">Ks:</td>
																					<td style="width:42%;">
																						<input id="shks" style="width:80%;" /> 
																					</td>
																					<td style="width:8%;">Ka:</td>
																					<td style="width:42%;">
																						<input id="shka" style="width:80%;" /> 
																					</td>
																				</tr>
																				<tr>
																					<td>Ke:</td>
																					<td>
																						<input id="shke" style="width:80%;" /> 
																					</td>
																					<td></td>
																					<td>
																						<input type="button" value="Применить" style="width:80%;" onclick="shcolsend()" />
																					</td>
																				</tr>
																			</table>
																		</td>
																	</tr>
											
																	<!-- <tr>
																		<td>
																			<table style="width:100%;">
																				<caption>
																					Загрузить 3D модель объекта
																				</caption>
																				<tr>
																					<td>file:</td>
																					<td>
																						<input type="file" id="filestl" style="width:80%;" /> 
																					</td>
																					<td>
																						<input type="button" value="Применить" onClick="SendFile()" />
																					</td>
																				</tr>
																			</table>
																		</td>
																	</tr> -->
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>

<script src="izn.js" onload="main();"></script>