<fieldset class=main-fieldset>
	<legend>Настройки</legend>
	
	<table class="table-nobordered">
		<tr>
			<td>
				<table class="table-nobordered">
					<tbody>
						<tr>
							<td>
								<table class="head-table">
									<thead>
										<th>Адрес прибора</th>
									</thead>
									
									<tbody>
										<tr>
											<td>
												<table class="zebra-table table-nobordered table-kv-pair">
													<tbody>
														<tr>
															<td><input type="text" id="textboxDeviceAddress" value="0"></td>
														</tr>
			
														<!--
														<tr>
															<td><input type="radio" name="radioTxReceiver" id="radioTxReceiver1"></td>
															<td><input type="text" id="textboxTxReceiver1" value="0"></td>
														</tr>
			
														<tr>
															<td><input type="radio" name="radioTxReceiver" id="radioTxReceiver2"></td>
															<td><input type="text" id="textboxTxReceiver2" value="0"></td>
														</tr>
			
														<tr>
															<td><input type="radio" name="radioTxReceiver" id="radioTxReceiver3"></td>
															<td><input type="text" id="textboxTxReceiver3" value="0"></td>
														</tr>
														-->
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td><button id="buttonApplyTxSettings" style="width: 40ch;">Применить</button></td>
		</tr>

		<tr>
			<td><button id="buttonClearCache" style="width: 40ch;">Очистить кэш сервера</button></td>
		</tr>

		<tr>
			<td><button id="buttonSetFactorySettings" style="width: 40ch;">Установить заводские настройки</button></td>
		</tr>

		<tr>
			<td>
				<form id="formDownloadIZN_KALIB">
					<button style="width: 100%;" id="buttonDownloadIZN_KALIB">Скачать результат калибровки</button>
				</form>
			</td>
		</tr>

		<tr>
			<td>
				<table class="table-kv-pair table-nobordered">
					<tbody>
						<tr>
							<td style="width: 25ch;">Загрузить файл с результатом калибровки на сервер.</td>
							<td><input type="file" id="fileIZN_KALIB"></td>
							<td><button id="buttonFileIZN_KALIB" disabled>Загрузить</button></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<form id="formDownloadKPALog">
					<button style="width: 40ch;" id="buttonDownloadKPALog" disabled>Скачать последний лог КПА</button>
				</form>
			</td>
		</tr>

		<!-- <tr>
			<td>
				<form id="formDownloadCANLog">
					<button style="width: 40ch;" id="buttonDownloadCANLog" disabled>Скачать последний лог HiCAN</button>
				</form>
			</td>
		</tr>
	 -->
		<tr>
			<td>
				<table class="zebra-table table-kv-pair" style="
				width: 52ch;
			">
					<caption style="
					background-color: darkmagenta;
					color: whitesmoke;
					font-size: 20px;
					letter-spacing: 8px;
					font-family: 'girloy-light';
					margin-top: 1ch;
				">Конфигурация IP</caption>
					<tbody>
						<tr>
							<td style="
							width: 17ch;
						">
								Включить DHCP:
							</td>

							<td>
								<input type="checkbox" style="
								float: left;
								position: relative;
								left: 1px;
								width: 100%;
							" id="checkboxDHCP">
							</td>
						</tr>

						<tr>
							<td>
								IP-адрес КПА:
							</td>

							<td>
								<table class="table-nobordered">
									<tbody>
										<tr>
											<td style="
												    padding: 0;
												">
												<input style="width: 75%" type="text" maxlength="3" id="textboxIP0"> .
											</td>

											<td style="
												    padding: 0;
												">
												<input style="width: 75%" type="text" maxlength="3" id="textboxIP1"> .
											</td>

											<td style="
												    padding: 0;
												">
												<input style="width: 75%" type="text" maxlength="3" id="textboxIP2"> .
											</td>

											<td style="
												    padding: 0;
												">
												<input style="width: 75%; float: left;" type="text" maxlength="3" id="textboxIP3">
											</td>

											<td style="
												    padding: 0;
												">/</td>

											<td style="	
												    padding: 0;
												">
												<input style="width: 75%" type="text" maxlength="2" id="textboxSubnetMask">
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<button style="
				width: 40ch;
			" id="buttonApplyIPConfig">Применить</button>
			</td>
		</tr>
	</table>

	<p style="font-size: 22px;">Версия ПМО интерфейсного устройства:<label id="labelZDBoardVersion">...</label></p>
	<p style="font-size: 22px;">Версия ПО КПА:<label id="labelKPAVersion">22.08.20793</label></p>
	<p>
		<table class="table-nobordered">
			<tr>
				<td>IP:<label id="labelIP">127.0.0.1</label></td>
				<td>Имя хоста:<label id="labelHostname">...</label></td>
			</tr>
		</table>
		</p>
</fieldset>

<script src="kpa_settings_mko.js" onload="main();"></script>