#popup-container {
	top: 0;
	left: 0;
	position: fixed;
	overflow: hidden;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 10000;
	/*backdrop-filter: blur(5px);*/
}

#popup-content {
	width: 50ch;
    background-color: whitesmoke;
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	margin-top: 0px;
	position: relative;
	top: -40%;
	text-align: center;
	border: 1px solid;
	padding: 1ch;
	transition: top 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
	overflow: hidden;
}

.popup-container-show > #popup-content {
	top: 40%;
	transition: top 250ms cubic-bezier(0, 0.85, 0.21, 1);
}

.popup-container-close > #popup-content {
	top: 100%;
	transition: top 250ms cubic-bezier(0, 0.85, 0.21, 1);
}

.popup-container-show {
	opacity: 1;
	height: 100%;
	transition: opacity 250ms step-start, height 250ms step-start;
}


.popup-container-hidden {
	opacity: 0;
	height: 0;
	transition: opacity 250ms step-end, height 250ms step-end;
}

#popup-header {
	font-family: girloy-bold;
	font-size: 18px;
}

#popup-body {
	font-family: girloy-normal;
	font-size: 16px;
}

#popup-button-ok {
	min-width: 20ch;
	margin: 1ch 1ch auto auto;
}

#popup-button-cancel {
	min-width: 20ch;
	margin: 1ch 1ch auto auto;
}

.non-scrollable {
	overflow: hidden;
}