<!-- 
	Rx
Ry
Rz
Vx
Vy
Vz
Q0_API
Q1_API
Q2_API
Q3_API
 -->

<fieldset class=main-fieldset>
	<legend>АПРИОРНАЯ ИНФОРМАЦИЯ (АПИ)</legend>

	<table class="head-table">
		<tbody>
			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Проекции радиус-вектора изделия (X):</td>
								<td><label id="tdRx">...</label><label>м/с</label></td>
								<td style="width: 15ch;"><input type="text" id="textboxRx" value="0"></td>
							</tr>

							<tr>
								<td>Проекции радиус-вектора изделия (Y):</td>
								<td><label id="tdRy">...</label><label>м/с</label></td>
								<td style="width: 15ch;"><input type="text" id="textboxRy" value="0"></td>
							</tr>
						
							<tr>
								<td>Проекции радиус-вектора изделия (Z):</td>
								<td><label id="tdRz">...</label><label>м/с</label></td>
								<td style="width: 15ch;"><input type="text" id="textboxRz" value="0"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Проекции вектора линейной скорости изделия (X):</td>
								<td><label id="tdVx">...</label><label>м/с</label></td>
								<td style="width: 15ch;"><input type="text" id="textboxVx" value="0"></td>
							</tr>

							<tr>
								<td>Проекции вектора линейной скорости изделия (Y):</td>
								<td><label id="tdVy">...</label><label>м/с</label></td>
								<td style="width: 15ch;"><input type="text" id="textboxVy" value="0"></td>
							</tr>
						
							<tr>
								<td>Проекции вектора линейной скорости изделия (Z):</td>
								<td><label id="tdVz">...</label><label>м/с</label></td>
								<td style="width: 15ch;"><input type="text" id="textboxVz" value="0"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Q0:</td>
								<td id="tdQ0_API">...</td>
								<td style="width: 15ch;"><input type="text" id="textboxQ0_API" value="0"></td>
							</tr>

							<tr>
								<td>Q1:</td>
								<td id="tdQ1_API">...</td>
								<td style="width: 15ch;"><input type="text" id="textboxQ1_API" value="0"></td>
							</tr>
						
							<tr>
								<td>Q2:</td>
								<td id="tdQ2_API">...</td>
								<td style="width: 15ch;"><input type="text" id="textboxQ2_API" value="0"></td>
							</tr>

							<tr>
								<td>Q3:</td>
								<td id="tdQ3_API">...</td>
								<td style="width: 15ch;"><input type="text" id="textboxQ3_API" value="0"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<button id="buttonApplyValues">Применить значения АПИ</button>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>

<fieldset class=main-fieldset id="fieldsetSetTAPeriod">
	<legend>УПРАВЛЕНИЕ ОТПРАВКОЙ АПИ</legend>
	<table class="table-nobordered table-kv-pair">
		<tr>
			<td>
				<input type="checkbox" id="checkboxTelem"/>
			</td>

			<td>
				<button id="buttonSetTelemPeriod">Установить период, с:</button>
			</td>

			<td>
				<input id="textboxSetTelemPeriod" type="text" value="10">
			</td>
		</tr>
	</table>
</fieldset>

<script src="priority_info.js" onload="main();"></script>