<fieldset class=main-fieldset>
	<legend>ШТАТНАЯ ИНФОРМАЦИЯ (ШИ)</legend>
	
	<table class="zebra-table table-nobordered table-kv-pair head-table">
		<tbody>
			<tr>
				<td>Текущее время:</td>
				<td id="tdWorldTime">...</td>	
			</tr>

			<tr>
				<td>Номер кадра:</td>
				<td id="tdQFrameNumber">...</td>
			</tr>

			<tr>
				<td>Кватернион Q0:</td>
				<td id="tdQ0">...</td>
			</tr>

			<tr>
				<td>Кватернион Q1:</td>
				<td id="tdQ1">...</td>
			</tr>

			<tr>
				<td>Кватернион Q2:</td>
				<td id="tdQ2">...</td>
			</tr>

			<tr>
				<td>Кватернион Q3:</td>
				<td id="tdQ3">...</td>
			</tr>

			<tr>
				<td>Задержка времени:</td>
				<td id="tdDELTIME">...</td>
			</tr>
		</tbody>
	</table>

	<details>
		<summary>СТАТУС АСТРООРИЕНТАЦИИ</summary>
		<table class="zebra-table table-nobordered table-kv-pair">
			<tbody>
				<tr>
					<td>Значение поля:</td>
					<td id="tdQStatus_0">...</td>	
				</tr>

				<tr>
					<td>Признак засветки:</td>
					<td id="tdQStatus_1">...</td>	
				</tr>

				<tr>
					<td>Признак высокой угловой скорости:</td>
					<td id="tdQStatus_2">...</td>	
				</tr>

				<tr>
					<td>Признак малого угла от горизонта Земли:</td>
					<td id="tdQStatus_3">...</td>	
				</tr>

				<tr>
					<td>Признак малого угла от Солнца:</td>
					<td id="tdQStatus_4">...</td>	
				</tr>

				<tr>
					<td>Признак малого угла от Луны:</td>
					<td id="tdQStatus_5">...</td>	
				</tr>

				<tr>
					<td>Количество нераспознанных объектов из 10-ти самых ярких:</td>
					<td id="tdQStatus_6">...</td>	
				</tr>

				<tr>
					<td>Количество звезд, используемых для определения ориентации:</td>
					<td id="tdQStatus_7">...</td>
				</tr>
			</tbody>
		</table>
	</details>

	<details>
		<summary>УГЛОВАЯ СКОРОСТЬ ВРАЩЕНИЯ</summary>
		
		<table class="table-nobordered">
			<tbody>
				<tr>
					<td>
						<table class="zebra-table table-nobordered table-kv-pair">
							<tbody>
								<tr>
									<td>Значение поля:</td>
									<td id="tdRSpeed_0">...</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<table class="zebra-table table-nobordered table-kv-pair">
							<tbody>
								<tr>
									<td>Угловая скорость вращения по оси X:</td>
									<td id="tdRSpeed_1">...</td>
									<td style="
									width: 6ch;
									font-family: monospace;
									">рад/с</td>
								</tr>
				
								<tr>
									<td>Угловая скорость вращения по оси Y:</td>
									<td id="tdRSpeed_2">...</td>
									<td style="
									width: 6ch;
									font-family: monospace;
									">рад/с</td>
								</tr>
				
								<tr>
									<td>Угловая скорость вращения по оси Z:</td>
									<td id="tdRSpeed_3">...</td>
									<td style="
									width: 6ch;
									font-family: monospace;
									">рад/с</td>	
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</details>
</fieldset>

<fieldset class=main-fieldset id="fieldsetSetTAPeriod">
	<legend>УПРАВЛЕНИЕ ВЫДАЧЕЙ ШИ</legend>
	<table class="table-nobordered table-kv-pair">
		<tr>
			<td>
				<input type="checkbox" id="checkboxTelem"/>
			</td>

			<td>
				<button id="buttonSetTelemPeriod">Установить период, с:</button>
			</td>

			<td>
				<input id="textboxSetTelemPeriod" type="text" value="10">
			</td>
		</tr>
	</table>
</fieldset>

<script src="regular_info.js" onload="main();"></script>