<button id="buttonSwitchSendTestCommandsState" disabled><label id="labelSendTestCommandsState">Начать</label>отправку тестовых комманд</button>
<br><br>	
<table class="table-nobordered">
	<tbody>
		<tr>
			<td>
				Прошло циклов:<label id="labelCyclesCount">0</label>, ЗД: <label id="labelZDID">[null]</label>, отправленная команда:<label id="labelStatus">[null]</label>, Статус устройства: <label id="labelDeviceStatus">[null]</label><br>Счётчик АПИ:<label id="labelAPICounter">[null]</label>
			</td>

			<td>
				<button id="sendTestData">Отправить вложенные данные</button>
			</td>
		</tr>

		<tr id="trError" hidden>
			<td style="background-color: red; color: white;">DeviceStatus не принял ожидаемое значение</td>
		</tr>
	</tbody>
</table>
<script src="send_test_commands.js" onload="main();"></script>