<fieldset class=main-fieldset style="min-width: 105ch;">
	<legend>СОПРОВОДИТЕЛЬНАЯ ИНФОРМАЦИЯ (ИС)</legend>
	
	<table class="table-nobordered">
		<tbody>
			<tr>
				<td style="width: 50%;">
					<table style="min-width: 66ch; width: 45%">
						<tr>
							<td style="min-width: 45ch; width: 70%;">
								<table class="table-nobordered">
									<tbody>
										<tr>
											<td>
												<table class="table-nobordered">
													<tbody>
														<tr>
															<td style="min-width: 18ch; width: 47%">
																<table class="zebra-table table-nobordered">
																	<tbody>
																		<tr>
																			<td>ЧЧ</td>
																			<td>ММ</td>
																			<td>СС</td>
																			<td>МС</td>
																		</tr>
																	
																		<tr>
																			<td><input id="textboxHours" style="min-width: 2ch; width: 60%" type="text" maxlength="2" value="00"> : </td>
																			<td><input id="textboxMinutes" style="min-width: 2ch; width: 60%" type="text" maxlength="2" value="00"> : </td>
																			<td><input id="textboxSeconds" style="min-width: 2ch; width: 60%" type="text" maxlength="2" value="00"> : </td>
																			<td><input id="textboxMilliseconds" style="min-width: 3ch; width: 75%" type="text" maxlength="3" value="000"></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														
															<td>
																<table class="zebra-table table-nobordered">
																	<tbody>
																		<tr>
																			<td style="width: 20%;">Число</td>
																			<td>Месяц</td>
																			<td style="width: 28%;">Год</td>
																		</tr>
																		<tr>
																			<td><input id="textboxDay" style="width: 75%;" type="text" maxlength="2" value="01"></td>
																			<td>
																				<select id="selectMonth" style="width: 100%;">
																					<option>Январь</option>
																					<option>Февраль</option>
																					<option>Март</option>
																					<option>Апрель</option>
																					<option>Март</option>
																					<option>Инюнь</option>
																					<option>Июль</option>
																					<option>Август</option>
																					<option>Сентябрь</option>
																					<option>Октябрь</option>
																					<option>Ноябрь</option>
																					<option>Декабрь</option>
																				</select>
																			</td>
																			<td><input id="textboxYear" style="width: 75%;" type="text" value="1970"></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								
									<tr>
										<td>
											<button id="buttonGetSystemTime">Получить системное время этого ПК</button>
										</td>
									</tr>
								</table>
							</td>
						
							<td style="border: 0; padding-left: 15px;">
								<button id="buttonSetMyTime">Установить время --></button>
							</td>
						</tr>

						<tr><td style="border: 0;"></td></tr>

						<tr>
							<td>
								<table class="table-nobordered zebra-table">
									<tbody>
										<tr>
											<td style="font-size: 22px;">Системное время этого ПК</td>
										</tr>
										<tr>
											<td>
												<label style="font-size: 30px; font-family: monospace;" id="labelSystemTime">00:00:00:000 01/01/1970</label>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						
							<td style="border: 0; padding-left: 15px;">
								<button id="buttonSetSystemTime">Установить время --></button>
							</td>
						</tr>
					</table>
				</td>

				<td>
					<table style="min-width: 35ch; max-width: 55ch; float: left;">
						<tbody>
							<tr>
								<td>
									<table class="table-nobordered table-kv-pair table-equal-cells">
										<tbody>
											<tr>
												<td>Timer_sec_ADDR:</td>
												<td><input id="textboxTimer_sec_ADDR" type="text" value="0"></td>
											</tr>

											<tr>
												<td>Timer_float_ADDR:</td>
												<td><input id="textboxTimer_float_ADDR" type="text" value="0"></td>
											</tr>
										</tbody>
									</table>			
								</td>
							</tr>

							<tr>
								<td><button id="buttonSetBSHV">Установка БШВ</button></td>
							</tr>

							<tr>
								<td>
									<table class="table-nobordered table-kv-pair table-equal-cells">
										<tbody>
											<tr>
												<td>QTime_INT:</td>
												<td><input type="text" id="textboxQTime_INT"></td>
											</tr>

											<tr>
												<td>QTime_FR:</td>
												<td><input type="text" id="textboxQTime_FR"></td>
											</tr>

											<tr>
												<td>Rx:</td>
												<td><input type="text" id="textboxRx"></td>
											</tr>

											<tr>
												<td>Ry:</td>
												<td><input type="text" id="textboxRy"></td>
											</tr>

											<tr>
												<td>Rz:</td>
												<td><input type="text" id="textboxRz"></td>
											</tr>

											<tr>
												<td>Vx:</td>
												<td><input type="text" id="textboxVx"></td>
											</tr>

											<tr>
												<td>Vy:</td>
												<td><input type="text" id="textboxVy"></td>
											</tr>

											<tr>
												<td>Vz:</td>
												<td><input type="text" id="textboxVz"></td>
											</tr>

											<tr>
												<td>Q0_API:</td>
												<td><input type="text" id="textboxQ0_API"></td>
											</tr>

											<tr>
												<td>Q1_API:</td>
												<td><input type="text" id="textboxQ1_API"></td>
											</tr>

											<tr>
												<td>Q2_API:</td>
												<td><input type="text" id="textboxQ2_API"></td>
											</tr>

											<tr>
												<td>Q3_API:</td>
												<td><input type="text" id="textboxQ3_API"></td>
											</tr>

											<tr>
												<td>IS_Q_STATUS:</td>
												<td><input type="text" id="textboxIS_Q_STATUS"></td>
											</tr>

											<tr>
												<td>wx:</td>
												<td><input type="text" id="textboxwx"></td>
											</tr>

											<tr>
												<td>wy:</td>
												<td><input type="text" id="textboxwy"></td>
											</tr>

											<tr>
												<td>wz:</td>
												<td><input type="text" id="textboxwz"></td>
											</tr>
										</tbody>
									</table>			
								</td>
							</tr>

							<tr>
								<td><button disabled id="buttonSendAPI">Отправить ИС</button></td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<label><input id="checkboxAutoSetSystemTime" type="checkbox"> Автоматически брать системное время</label>
								</td>
							</tr>

							<tr>
								<td style="padding: 0;">
									<table class="table-nobordered">
										<tbody>
											<tr id="trSendAPIWithPeriod">
												<td style="text-align: left;">
													<label><input id="checkboxSendAPIWithPeriod" type="checkbox"> Отправлять АПИ с периодом</label>
												</td>

												<td>
													<input id="textboxSendAPIPeriod" type="text" value="100" style="min-width: 5ch; width: 50%; float: right;">
												</td>

												<td>мс</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>

<script src="sopr_info.js" onload="main();"></script>