@font-face {
	font-family: "girloy-normal";
	src: url("Fonts/gilroy-regular.ttf") format("truetype")
}

@font-face {
	font-family: "girloy-light";
	src: url("Fonts/gilroy-ultralight.ttf") format("truetype")
}

@font-face {
	font-family: "girloy-bold";
	src: url("Fonts/gilroy-bold.ttf") format("truetype")
}

/* TODO: цветовые темы */

html {
	font-family: girloy-normal;
}

table {
	font-family: girloy-normal;
	border-collapse: collapse;
	letter-spacing: 1px;
	font-size: 16px;
	width: 100%;
	margin: 0 auto;
}

.head-table {
	margin-bottom: 1ch;
}

.table-nobordered > tbody > tr > td:nth-child(n) {
	border: none;
}

.table-kv-pair>tbody>tr>td:nth-child(odd) {
	text-align: left;
}

.table-kv-pair > tbody > tr > td:nth-child(even) {
	text-align: right;
	font-family: monospace;
}

.table-kv-pair-with-textbox > tbody > tr > td:nth-child(2) {
	width: 35%;
}

.table-kv-pair-with-textbox > tbody > tr > td:nth-child(3) {
	font-family: monospace;
	width: 25%;
}

td > button {
	width: 100%;
	height: 100%;
	top: 0%;
	bottom: 0%;
}

td > input[type="text"] {
	font-family: monospace;
	width: 97%;
	height: 100%;
	top: 0%;
	bottom: 0%;
	margin: 0 auto;
}

.table-equal-cells {
	table-layout: fixed;
}

.height-filled {
	height: 100%;
}

td, th {
	border: 1px solid rgb(156, 156, 156);
	padding: 5px 5px;
}

.table-tiny td {
	padding: 2px 2px;
}

tr, td {
	height: fit-content;
}


input {
	font-size: 14px;
	border: 1px solid rgb(190, 190, 190);
}

input[type="text"] {
	font-family: monospace;
}

button {
	font-size: 14px;
	padding: 0.4ch;
	letter-spacing: 1px;
}

label {
	padding: 0.4ch;
}

th {
	background-color: rgb(235, 235, 235);
}

td {
	text-align: center;
}

.td-left-align {
	text-align: left;
}

.zebra-table > tbody > tr:nth-child(even) td {
	background-color: rgb(250, 250, 250);
}

.zebra-table > tbody > tr:nth-child(odd) td {
	background-color: rgb(235, 235, 235);
}

.table-monospace > tbody > tr > td {
	font-family: monospace;
}

caption {
	padding: 10px;
}

summary {
	outline: none;
	padding: 1ch;
	overflow: auto;
}

details {
	font-family: girloy-bold;
	font-size: 16px;
	letter-spacing: 1px;
	background-color:  rgb(250, 250, 250);
	left: 0%;
	right: 0%;
	border-style: solid;
	width: 100%;
	border: 1px solid rgb(209, 209, 209);
	outline: none;
	display: block;
	margin-bottom: 1ch;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-ms-user-select: none;
	overflow: auto;
}

.nav-button {
	font-family: girloy-light;
	letter-spacing: 18px;
	font-size: 20px;
	width: 100%;
	padding: 1ch;
	display: block;
	border: none;
	outline: none;
	color: white;
	background-color: #295561;
	transition: background-color 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
	z-index: 1000;
}

.nav-button:hover {
	background-color: #234953;
	transition: background-color 80ms linear;
}

.nav-button:disabled {
	background-color: #295561;
}

.topmenu {
	top: 0%;
}

.bottommenu {
	bottom: 0%;
}

.menu {
	position: fixed;
	left: 0%;
	width: 100%;
	display: block;
	z-index: 1000;
}

.topmenu-content {
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	max-height: 60ch;
}

.bottommenu-content {
	position: relative;
	box-shadow: 0px -8px 8px 0px rgba(0,0,0,0.3);
}

.menu-content {
	background-color: rgb(238, 238, 238);
	width: 100%;
	overflow: auto;
	display: grid;
	border: none;
}

.origin-top {
	transform-origin: top;
}

.origin-bottom {
	transform-origin: bottom;
}

.menu-content a {
	font-size: 18px;
	color: black;
	padding: 0.5ch 0.5ch;
	text-decoration: none;
	cursor: default;
}

.menu-content a:hover {
	background-color: #dddddd;
}

fieldset {
	text-align: center;
	border: 1px solid;
}

.main-fieldset {
	width: 50%;
	min-width: 70ch;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 2ch;
	max-width: 100%;
}

legend {
	font-family: girloy-bold;
	font-size: 18px;
	letter-spacing: 1px;
}

.menu-hide-flag ~ .topmenu-content {
	/* -------------------------------------\./---------------------- */
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0.5, 0, 0, 1, 0, 0, 0, 0, 1);
	opacity: 0;
	transition: transform 250ms cubic-bezier(0.55, 0.06, 0.68, 0.19), opacity 250ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
}


.menu-hide-flag:checked ~ .topmenu-content {
	/* -------------------------------------\./---------------------- */
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	opacity: 1;
	transition: transform 170ms cubic-bezier(0, 1, 0, 1), opacity 170ms cubic-bezier(0.22, 0.61, 0.36, 1);
}


.menu-hide-flag ~ .bottommenu-content {
	/* -------------------------------------\./---------------------- */
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.5, 0, 0, 1, 0, 0, 0, 0, 1);
	opacity: 0;
	height: 0ch; /* Костыль, ибо по iframe высота автоматически не выставляется */
	transition: transform 250ms cubic-bezier(0.55, 0.06, 0.68, 0.19), opacity 250ms cubic-bezier(0.55, 0.06, 0.68, 0.19), height 250ms step-end;
}	

.menu-hide-flag:checked ~ .bottommenu-content {
	/* -------------------------------------\./---------------------- */
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	opacity: 1;
	height: 28ch; /* Костыль, ибо по iframe высота автоматически не выставляется */
	transition: transform 170ms cubic-bezier(0, 1, 0, 1), opacity 0.25s cubic-bezier(0.22, 0.61, 0.36, 1), height 250ms step-start;
}

#videoUIContainer {
	max-width: 50%;	
    max-height: 70%;
    min-width: 640px;
    min-height: 480px;
}

#videoEffectContainer {
	position: relative;
	z-index: -999;
}

#videoContainer {
	display: flex;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-ms-user-select: none;
}

.video-img {
	width: 100%;
	height: 100%;
	z-index: -1;
}

input[type="range"] {
	width: 100%;
}

.star {
	position: absolute;
    top: 0;
	left: 0;
	border: none;
	z-index: -1;
}

.star-icon {
	color: red;
}

.not-star-icon {
	color: #1F74F3
}

.star-sao {
	color: green;
}

.star-name {
	color: yellow;
}

.star-name-cell {
	color: black;
}

.found-object {
	color: lightcyan;
	font-size: 18px;
	font-weight: bold;
	z-index: 1;
	position: absolute;
}

progress {
	width: 100%;
}

.nav-table > tbody > tr > td {
	padding: 0;
	border-right: 1px solid whitesmoke;
}