<fieldset class=main-fieldset>
	<legend>ТЕЛЕМЕТРИЯ СМЕНЫ ПМО (ТП)</legend>
	
	<table class="zebra-table table-nobordered table-kv-pair head-table">
		<tbody>
			<tr>
				<td>STATUS:</td>
				<td id="tdSTATUS"></td>
			</tr>
			
			<tr>
				<td>MicroSectors_0:</td>
				<td id="tdMicroSectors_0"></td>
			</tr>
			
			<tr>
				<td>MicroSectors_1:</td>
				<td id="tdMicroSectors_1"></td>
			</tr>
			
			<tr>
				<td>MicroSectors_2:</td>
				<td id="tdMicroSectors_2"></td>
			</tr>

			<tr>
				<td>MicroSectors_3:</td>
				<td id="tdMicroSectors_3"></td>
			</tr>

			<tr>
				<td>MicroSectors_4:</td>
				<td id="tdMicroSectors_4"></td>
			</tr>

			<tr>
				<td>MicroSectors_5:</td>
				<td id="tdMicroSectors_5"></td>
			</tr>

			<tr>
				<td>MicroSectors_6:</td>
				<td id="tdMicroSectors_6"></td>
			</tr>

			<tr>
				<td>MicroSectors_7:</td>
				<td id="tdMicroSectors_7"></td>
			</tr>

			<tr>
				<td>MicroSectors_8:</td>
				<td id="tdMicroSectors_8"></td>
			</tr>

			<tr>
				<td>MicroSectors_9:</td>
				<td id="tdMicroSectors_9"></td>
			</tr>

			<tr>
				<td>MicroSectors_10:</td>
				<td id="tdMicroSectors_10"></td>
			</tr>

			<tr>
				<td>MicroSectors_11:</td>
				<td id="tdMicroSectors_11"></td>
			</tr>

			<tr>
				<td>MicroSectors_12:</td>
				<td id="tdMicroSectors_12"></td>
			</tr>

			<tr>
				<td>MicroSectors_13:</td>
				<td id="tdMicroSectors_13"></td>
			</tr>

			<tr>
				<td>MicroSectors_14:</td>
				<td id="tdMicroSectors_14"></td>
			</tr>

			<tr>
				<td>MicroSectors_15:</td>
				<td id="tdMicroSectors_15"></td>
			</tr>

			<tr>
				<td>MacroSectors:</td>
				<td id="tdMacroSectors"></td>
			</tr>
		</tbody>
	</table>
</fieldset>

<fieldset class=main-fieldset>
	<legend>УПРАВЛЕНИЕ ВЫДАЧЕЙ ТП</legend>
	<table class="table-nobordered table-kv-pair">
		<tr>
			<td>
				<input type="checkbox" id="checkboxTelem"/>
			</td>

			<td>
				<button id="buttonSetTelemPeriod">Установить период, с:</button>
			</td>

			<td>
				<input id="textboxSetTelemPeriod" type="text" value="10">
			</td>
		</tr>
	</table>
</fieldset>

<script src="telem_pmo_mko.js" onload="main();"></script>