<fieldset class=main-fieldset>
	<legend>ТЕЛЕМЕТРИЯ ОСНОВНАЯ</legend>
	
	<table class="head-table">
		<tbody>
			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Текущее время:</td>
								<td id="tdWorldTime">...</td>	
							</tr>
				
							<tr>
								<td>Номер кадра:</td>
								<td id="tdFrameNumber">...</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
	
			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Счётчик включений прибора:</td>
								<td id="tdPowerUpCnt">...</td>
							</tr>
				
							<tr>
								<td>Количество нештатных отключений пользователем:</td>
								<td id="tdErPowerUpCnt_user">...</td>
							</tr>
				
							<tr>
								<td>Количество собственных нештатных отключений:</td>
								<td id="tdErPowerUpCnt_self">...</td>
							</tr>
				
							<tr>
								<td>Ресурс прибора, сек:</td>
								<td id="tdPowerUpTimer">...</td>
							</tr>
				
							<tr>
								<td>Текущий указатель номера страницы записи/чтения УВФ:</td>
								<td id="tdCUR_FLASH_page">...</td>
							</tr>
				
							<tr>
								<td>Количество битых пикселей, в карте:</td>
								<td id="tdSHPR_MAP_CNT">...</td>
							</tr>
				
							<tr>
								<td>Количество битых пикселей, поток:</td>
								<td id="tdSHPR_STREAM_CNT">...</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Напряжение питания микросхемы памяти:</td>
								<td><label id="tdVMEM0"></label><label>В</label></td>
							</tr>
				
							<tr>
								<td>Напряжение питания микросхемы памяти:</td>
								<td><label id="tdVMEM1"></label><label>В</label></td>
							</tr>
				
							<tr>
								<td>Напряжение питания микросхемы памяти:</td>
								<td><label id="tdVMEM2"></label><label>В</label></td>
							</tr>
				
							<tr>
								<td>Напряжение питания микросхемы памяти:</td>
								<td><label id="tdVMEM3"></label><label>В</label></td>
							</tr>
				
							<tr>
								<td>Напряжение питания аналого-цифрового преобразователя:</td>
								<td><label id="tdVADC0"></label><label>В</label></td>
							</tr>
				
							<tr>
								<td>Напряжение питания аналого-цифрового преобразователя:</td>
								<td><label id="tdVADC1"></label><label>В</label></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair head-table">
						<tbody>
							<tr>
								<td>Температура ПЗС:</td>
								<td><label id="tdTCCD"></label><label>°C</label></td>
							</tr>
				
							<tr>
								<td>Температура процессора:</td>
								<td><label id="tdTDSP"></label><label>°C</label></td>
							</tr>
				
							<tr>
								<td>Количество пропущенных ЗД кадров:</td>
								<td id="tdRecPassCounter">...</td>
							</tr>

							<tr>
								<td>Счетчик полученных команд 0x80 в адрес 0x00 с установкой времени:</td>
								<td id="tdCntBst">...</td>
							</tr>

							<tr>
								<td>Cчетчик импульсов на шине секундной метки (шина 1С):</td>
								<td id="tdsec_point_counter">...</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

	<details>
		<summary>СТАТУС ПРИБОРА</summary>
		<table class="zebra-table table-nobordered table-kv-pair">
			<tbody>
				<tr>
					<td>Значение поля:</td>
					<td id="tdDeviceStatus_0">Нет</td>
				</tr>

				<tr>
					<td>Наличие секундной метки:</td>
					<td id="tdDeviceStatus_1">...</td>
				</tr>

				<tr>
					<td>Состояние УВФ:</td>
					<td id="tdDeviceStatus_2">...</td>
				</tr>

				<tr>
					<td>Номер участка калибровки:</td>
					<td id="tdDeviceStatus_3">...</td>
				</tr>

				<tr>
					<td>Индекс буфера маски для чтения:</td>
					<td id="tdDeviceStatus_4">...</td>
				</tr>

				<tr>
					<td>Индекс буфера маски для записи:</td>
					<td id="tdDeviceStatus_5">...</td>
				</tr>

				<tr>
					<td>Признак успешного распознавания:</td>
					<td id="tdDeviceStatus_6">...</td>
				</tr>

				<tr>
					<td>Признак первичного распознавания:</td>
					<td id="tdDeviceStatus_7">...</td>
				</tr>

				<tr>
					<td>Признак засветки:</td>
					<td id="tdDeviceStatus_8">...</td>
				</tr>

				<tr>
					<td>Признак включения режима распределённых вычислений:</td>
					<td id="tdDeviceStatus_9">...</td>
				</tr>

				<tr>
					<td>Признак вычисления кватерниона взаимоувязки с КА:</td>
					<td id="tdDeviceStatus_10">...</td>
				</tr>

				<tr>
					<td>Признак вычисления кватерниона взаимоувязки с ЗД1:</td>
					<td id="tdDeviceStatus_11">...</td>
				</tr>

				<tr>
					<td>Признак вычисления кватерниона взаимоувязки с ЗД2:</td>
					<td id="tdDeviceStatus_12">...</td>
				</tr>

				<tr>
					<td>Счётчик принятых массивов АПИ:</td>
					<td id="tdDeviceStatus_13">...</td>
				</tr>
			</tbody>
		</table>
	</details>

	<details>
		<summary>СТАТУС ОБЪЕКТОВ</summary>
		<table class="zebra-table table-nobordered table-kv-pair">
			<tbody>
				<tr>
					<td>Значение поля:</td>
					<td id="tdObjStatus_0">...</td>
				</tr>

				<tr>
					<td>Количество выделенных объектов на кадре:</td>
					<td id="tdObjStatus_1">...</td>
				</tr>

				<tr>
					<td>Количество распознанных звёзд:</td>
					<td id="tdObjStatus_2">...</td>
				</tr>
			</tbody>
		</table>
	</details>

	<details>
		<summary>СТАТУС ПОИСКА ОБЪЕКТОВ</summary>
		<table class="zebra-table table-nobordered table-kv-pair">
			<tbody>
				<tr>
					<td>Значение поля:</td>
					<td id="tdSearchStatus_0">...</td>
				</tr>

				<tr>
					<td>Признак успешного поиска:</td>
					<td id="tdSearchStatus_1">...</td>
				</tr>

				<tr>
					<td>Количество объектов после первичного отбора:</td>
					<td id="tdSearchStatus_2">...</td>
				</tr>

				<tr>
					<td>Общее количество отслеживаемых объектов:</td>
					<td id="tdSearchStatus_3">...</td>
				</tr>

				<tr>
					<td>Количество отслеживаемых объектов на текущем кадре:</td>
					<td id="tdSearchStatus_4">...</td>
				</tr>

				<tr>
					<td>Количество объектов после второго отбора:</td>
					<td id="tdSearchStatus_5">...</td>
				</tr>
			</tbody>
		</table>
	</details>

	<details>
		<summary>СТАТУС ДАННЫХ АСТРООРИЕНТАЦИИ</summary>
		<table class="zebra-table table-nobordered table-kv-pair">
			<tbody>
				<tr>
					<td>Значение поля:</td>
					<td id="tdQStatus_0">...</td>
				</tr>

				<tr>
					<td>Признак засветки:</td>
					<td id="tdQStatus_1">...</td>
				</tr>

				<tr>
					<td>Признак высокой угловой скорости:</td>
					<td id="tdQStatus_2">...</td>
				</tr>

				<tr>
					<td>Признак малого угла от горизонта Земли:</td>
					<td id="tdQStatus_3">...</td>
				</tr>

				<tr>
					<td>Признак малого угла от Солнца:</td>
					<td id="tdQStatus_4">...</td>
				</tr>

				<tr>
					<td>Признак малого угла от Луны:</td>
					<td id="tdQStatus_5">...</td>
				</tr>

				<tr>
					<td>Количество нераспознанных объектов из 10-ти самых ярких:</td>
					<td id="tdQStatus_6">...</td>
				</tr>
			</tbody>
		</table>
	</details>

	<details>
		<summary>ПОРЯДКОВЫЕ НОМЕРА НАИБОЛЕЕ ЯРКИХ НЕРАСПОЗНАННЫХ ОБЪЕКТОВ</summary>
		<table class="zebra-table table-nobordered table-kv-pair">
			<tbody>
				<tr>
					<td>Значение поля:</td>
					<td id="tdUndetectedObjects_0">...</td>
				</tr>

				<tr>
					<td>0:</td>
					<td id="tdUndetectedObjects_1">...</td>
				</tr>

				<tr>
					<td>1:</td>
					<td id="tdUndetectedObjects_2">...</td>
				</tr>

				<tr>
					<td>2:</td>
					<td id="tdUndetectedObjects_3">...</td>
				</tr>

				<tr>
					<td>3:</td>
					<td id="tdUndetectedObjects_4">...</td>
				</tr>

				<tr>
					<td>4:</td>
					<td id="tdUndetectedObjects_5">...</td>
				</tr>

				<tr>
					<td>5:</td>
					<td id="tdUndetectedObjects_6">...</td>
				</tr>

				<tr>
					<td>6:</td>
					<td id="tdUndetectedObjects_7">...</td>
				</tr>

				<tr>
					<td>7:</td>
					<td id="tdUndetectedObjects_8">...</td>
				</tr>
			</tbody>
		</table>
	</details>
</fieldset>

<fieldset class=main-fieldset id="fieldsetSet0xFCPeriod">
	<legend>УПРАВЛЕНИЕ ВЫДАЧЕЙ ТО</legend>
	<table class="table-nobordered table-kv-pair table-equal-cells">
		<tr>
			<td>
				<button id="buttonSet0xFCPeriod">Установить период, с:</button>
			</td>

			<td>
				<input type="text" id="textboxSet0xFCPeriod" value="10">
			</td>
		</tr>
	</table>

	<table class="table-nobordered">
		<tr>
			<td>
				<button id="buttonOff0xFC">Выключить выдачу ТО (ТОВ)</button>
			</td>
		</tr>
	</table>

	<table class="table-nobordered table-kv-pair table-equal-cells height-filled">
		<tr>
			<td>
				<button id="buttonSet0xFCPeriod1s">Установить период выдачи ТО 1 сек (Т1С)</button>
			</td>

			<td>
				<button id="buttonSet0xFCPeriod10s">Установить период выдачи ТО 10 сек (Т10С)</button>
			</td>
		</tr>

		<tr>
			<td>
				<button id="buttonSet0xFCPeriod1min">Установить период выдачи ТО 1 мин (Т1М)</button>
			</td>

			<td>
				<button id="buttonSet0xFCPeriod10min">Установить период выдачи ТО 10 мин (Т10М)</button>
			</td>
		</tr>
	</table>	
</fieldset>

<script src="telem_basic.js" onload="main();"></script>