<fieldset class=main-fieldset>
	<legend>ТЕЛЕМЕТРИЯ КОНФИГУРАЦИОННАЯ (ТК)</legend>

	<table class="zebra-table table-nobordered table-kv-pair head-table">
		<tbody>
			<tr>
				<td>Децимальный номер прибора:</td>
				<td id="tdDNUMBER">...</td>
			</tr>

			<tr>
				<td>Заводской номер прибора:</td>
				<td id="tdFACTNUMBER">...</td>
			</tr>

			<tr>
				<td>Номер прошивки вычислительного устройства:</td>
				<td id="tdFWVER0">...</td>
			</tr>

			<tr>
				<td>Номер прошивки микросхемы управления:</td>
				<td id="tdFWVER1">...</td>
			</tr>
		</tbody>
	</table>

	<details>
		<summary>ВСЕ ПАРАМЕТРЫ</summary>

		<table class="table-nobordered">
			<tbody id="tbodyRoot"></tbody>
		</table>
	</details>
	<!--
	<details>
		<summary>ДОПОЛИЕТЕЛЬНО</summary>
		<table class="zebra-table table-nobordered table-kv-pair">
			<tbody>
			</tbody>
		</table>
	</details>
	-->
</fieldset>

<fieldset class=main-fieldset id="fieldsetSetTKPeriod">
	<legend>УПРАВЛЕНИЕ ВЫДАЧЕЙ ТК</legend>
	<table class="table-nobordered table-kv-pair table-equal-cells">
		<tr>
			<td>
				<button id="buttonSetTKPeriod">Установить период, с:</button>
			</td>

			<td>
				<input type="text" id="textboxSetTKPeriod" value="10">
			</td>
		</tr>
	</table>
</fieldset>

<script src="telem_config.js" onload="main();"></script>