<fieldset class=main-fieldset>
	<legend>Данные об одиночном объекте (ДО)</legend>
	<details open="open">
		<summary>ДАННЫЕ ОБ ОДИНОЧНОМ ОБЪЕКТЕ</summary>
		<table class="table-nobordered">
			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Y:</td>
								<td id="tdY_dn1">...</td>
							</tr>
			
							<tr>
								<td>Z:</td>
								<td id="tdZ_dn1">...</td>
							</tr>
			
							<tr>
								<td>Яркость:</td>
								<td id="tdVal_dn1">...</td>
							</tr>
			
							<tr>
								<td>Размер:</td>
								<td id="tdSize_dn1">...</td>
							</tr>
			
							<tr>
								<td>Модуль скорости:</td>
								<td id="tdAV_dn1">...</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Vx:</td>
								<td id="tdAVx_dn1">...</td>
								<td style="width: 4ch;">м/с</td>
							</tr>
			
							<tr>
								<td>Vy:</td>
								<td id="tdAVy_dn1">...</td>
								<td>м/с</td>
							</tr>
			
							<tr>
								<td>Vz:</td>
								<td id="tdAVz_dn1">...</td>
								<td>м/с</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair">
						<tbody>
							<tr>
								<td>Резерв0:</td>
								<td id="tdp0_dn1">...</td>
							</tr>
			
							<tr>
								<td>Резерв1:</td>
								<td id="tdp1_dn1">...</td>
							</tr>
			
							<tr>
								<td>Идентификатор объекта:</td>
								<td id="tdID_dn1">...</td>
							</tr>
			
							<tr>
								<td>Текущее время:</td>
								<td id="tdWorldTime">...</td>
							</tr>
			
							<tr>
								<td>Номер кадра:</td>
								<td id="tdQFrameNumber_dn1">...</td>
							</tr>
			
							<tr>
								<td>Время задержки изменения:</td>
								<td><label id="tdDELTIME_dn1">...</label>мс</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
	</details>

	<details>
		<summary>СТАТУС ДАННЫХ НАВЕДЕНИЯ</summary>
		<table class="zebra-table table-nobordered table-kv-pair">
			<tbody>
				<tr>
					<td>Сырое значение (DNStatus):</td>
					<td id="tdDNStatus_0">...</td>
				</tr>

				<tr>
					<td>Признак засветки:</td>
					<td id="tdDNStatus_1">...</td>
				</tr>

				<tr>
					<td>Признак высокой угловой скорости:</td>
					<td id="tdDNStatus_2">...</td>
				</tr>

				<tr>
					<td>Признак малого угла от горизонта Земли:</td>
					<td id="tdDNStatus_3">...</td>
				</tr>

				<tr>
					<td>Признак малого угла от Солнца:</td>
					<td id="tdDNStatus_4">...</td>
				</tr>

				<tr>
					<td>Признак малого угла от Луны:</td>
					<td id="tdDNStatus_5">...</td>
				</tr>

				<tr>
					<td>Статус поиска:</td>
					<td id="tdDNStatus_6">...</td>
				</tr>

				<tr>
					<td>Статус поиска яркого объекта:</td>
					<td id="tdDNStatus_7">...</td>
				</tr>
			</tbody>
		</table>
	</details>
</fieldset>

<fieldset class=main-fieldset>
	<legend>Передать настройки обнаружения одиночных объектов (НОО)</legend>

	<table>
		<tbody>
			<tr>
				<td>
					<table class="table-nobordered">
						<tbody>
							<tr>
								<td>SearchON:</td>
								<td><input id="textboxSearchON" type="text" maxlength="10" value="0"></td>
								<td><button disabled id="buttonSearchON">Применить</button></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>

<fieldset class=main-fieldset id="fieldsetSetTSPeriod">
	<legend>УПРАВЛЕНИЕ ВЫДАЧЕЙ ДО</legend>
	<table class="table-nobordered table-kv-pair">
		<tr>
			<td>
				<input type="checkbox" id="checkboxTelem"/>
			</td>

			<td>
				<button id="buttonSetTelemPeriod">Установить период, с:</button>
			</td>

			<td>
				<input id="textboxSetTelemPeriod" type="text" value="10">
			</td>
		</tr>
	</table>
</fieldset>

<script src="telem_special_mko.js" onload="main();"></script>