<fieldset class=main-fieldset>
	<legend>Тестовая информация</legend>
	
	<table class="table-nobordered">
		<tbody>
			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair table-kv-pair-with-textbox head-table">
						<tbody id="tbodyTstData"></tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td><button id="buttonSendTIZ">Отправить ТИЗ</button></td>
			</tr>

			<tr>
				<td><button id="buttonReadTIZ">Считать ТИЗ</button></td>
			</tr>
		</tbody>
	</table>
</fieldset>

<script src="test_info_mko.js" onload="main();"></script>