<fieldset class=main-fieldset>
	<legend>Тестовая информация</legend>
	
	<table class="table-nobordered">
		<tbody>
			<tr>
				<td>
					<table class="zebra-table table-nobordered table-kv-pair table-kv-pair-with-textbox head-table">
						<tbody id="tbodyTstData"></tbody>
					</table>
				</td>
			</tr>

			<tr>
				<td><button id="buttonSendTIZ">Отправить ТИЗ</button></td>
			</tr>
		</tbody>
	</table>
	
</fieldset>

<fieldset class=main-fieldset>
	<legend>Управление выдачей ТИП</legend>
	<table class="table-nobordered table-kv-pair table-equal-cells">
		<tr>
			<td>
				<button id="buttonSetTIPPeriod">Установить период, с:</button>
			</td>

			<td>
				<input id="textboxSetTIPPeriod" type="text" value="10">
			</td>
		</tr>
	</table>
</fieldset>

<script src="test_info.js" onload="main();"></script>