<fieldset class="main-fieldset">
	<legend>ОБНОВЛЕНИЕ</legend>

	<table class="table-nobordered">
		<tbody>
			<!-- <tr>
				<td>
					<table class="table-kv-pair table-nobordered">
						<tbody>
							<tr>
								<td>
									<table class="table-kv-pair table-nobordered">
										<tbody>
											<tr>
												<td style="width: 25ch;">Обновление ПО КПА. Макс.<label id="labelFileKpaMax">0</label>МБ</td>
												<td><input type="file" id="fileKPA" onchange="fileKPA_onchange(event);"></td>
												<td><button id="buttonFileKPA" disabled>Обновить</button></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
					
							<tr id="trKPALoadingInfo">
								<td>
									<table class="table-kv-pair table-nobordered">
										<tbody>
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td><label id="labelKPALoadingStage">Загрузка на сервер</label>:</td>
																<td><label id="labelKPALodingPercentage">000</label>%</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										
											<tr>
												<td><progress id="progressKPALoding" max="1000" min="0" value="0"></progress></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr> -->

			<tr>
				<td>
					<table class="table-kv-pair table-nobordered">
						<tbody>
							<tr>
								<td>
									<table class="table-kv-pair table-nobordered">
										<tbody>
											<tr>
												<td style="width: 25ch;">Обновление ПО устройства. Макс.<label id="labelFileDeviceMax">0</label>МБ</td>
												<td><input type="file" id="fileDevice" onchange="fileDevice_onchange(event);"></td>
												<td><button id="buttonFileDevice" onclick="buttonFileDevice_onclick(this);" disabled>Обновить</button></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
					
							<tr id="trDeviceLoadingInfo">
								<td>
									<table class="table-kv-pair table-nobordered">
										<tbody>
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td><label id="labelDeviceLoadingStage">Загрузка на сервер</label>:</td>
																<td><label id="labelDeviceLodingPercentage">000</label>%</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										
											<tr>
												<td><progress id="progressDeviceLoding" max="1000" min="0" value="0"></progress></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr style="border-top: 1px solid">
				<td>
					<table class="table-kv-pair table-nobordered">
						<tbody>
							<tr>
								<td>
									<table class="table-kv-pair table-nobordered">
										<tbody>
											<tr>
												<td style="width: 25ch;">Обновление ПМО платы. Макс.<label id="labelFilePMOBoardMax">0</label>МБ</td>
												<td><input type="file" id="filePMOBoard" onchange="filePMOBoard_onchange(event);"></td>
												<td><button id="buttonFilePMOBoard" onclick="buttonFilePMOBoard_onclick(this);" disabled>Обновить</button></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
					
							<tr id="trPMOBoardLoadingInfo">
								<td>
									<table class="table-kv-pair table-nobordered">
										<tbody>
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td><label id="labelPMOBoardLoadingStage">Загрузка на сервер</label>:</td>
																<td><label id="labelPMOBoardLodingPercentage">000</label>%</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										
											<tr>
												<td><progress id="progressPMOBoardLoding" max="1000" min="0" value="0"></progress></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>

<script src="update.js" onload="main();"></script>