<fieldset class=main-fieldset style="min-width: 105ch;">
	<legend>Управление видеозаписью</legend>

	<table class="table-nobordered">
		<tbody>
			<tr>
				<td>
					<table class="table-nobordered">
						<tbody>
							<tr>
								<td style="width: 20ch;">
									<table>
										<thead>
											<th>Команды видеозаписи</th>
										</thead>
				
										<tbody>
											<tr>
												<td>
													<table class="table-nobordered">
														<tbody>
															<tr>
																<td>Статус ЗУ:<label id=labelDeviceStatus>[null]</label></td>
															</tr>
															
															<tr>
																<td><button disabled id="buttonClearMemory">Очистка ("ВПО")</button></td>
															</tr>
				
															<tr>
																<td><button disabled id="buttonStartRecord">Запись ("ВЗС")</button></td>
															</tr>
															
															<tr>
																<td><button disabled id="buttonStopOperation">Стоп ("ВЗО")</button></td>
															</tr>
				
															<tr>
																<td><button disabled id="buttonPauseRecord">Пауза ("ВЗП")</button></td>
															</tr>
				
															<tr>
																<td><button disabled id="buttonResumeRecord">Продолжить ("ВЗВ")</button></td>
															</tr>
				
															<tr>
																<td><button disabled id="buttonReadMemory">Воспроизведение ("ВПЧ")</button></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
				
								<td>
									<table>
										<thead>
											<th>Настройки видеозаписи ("НВФ")</th>
										</thead>
				
										<tbody>
											<tr>
												<td>
													<table class="table-nobordered">
														<tbody>
															<tr>
																<td>15</td>
																<td>14</td>
																<td>13</td>
																<td>12</td>
																<td>11</td>
																<td>10</td>
																<td>9</td>
																<td>8</td>
																<td>7</td>
																<td>6</td>
																<td>5</td>
																<td>4</td>
																<td>3</td>
																<td>2</td>
																<td>1</td>
																<td>0</td>
															</tr>
				
															<tr>
																<td><input type="checkbox" disabled name="15" id="checkboxFL_MASK_15"></td>
																<td><input type="checkbox" disabled name="14" id="checkboxFL_MASK_14"></td>
																<td><input type="checkbox" disabled name="13" id="checkboxFL_MASK_13"></td>
																<td><input type="checkbox" disabled name="12" id="checkboxFL_MASK_12"></td>
																<td><input type="checkbox" disabled name="11" id="checkboxFL_MASK_11"></td>
																<td><input type="checkbox" disabled name="10" id="checkboxFL_MASK_10"></td>
																<td><input type="checkbox" disabled name="9"  id="checkboxFL_MASK_9"></td>
																<td><input type="checkbox" disabled name="8"  id="checkboxFL_MASK_8"></td>
																<td><input type="checkbox" disabled name="7"  id="checkboxFL_MASK_7"></td>
																<td><input type="checkbox" disabled name="6"  id="checkboxFL_MASK_6"></td>
																<td><input type="checkbox" disabled name="5"  id="checkboxFL_MASK_5"></td>
																<td><input type="checkbox" disabled name="4"  id="checkboxFL_MASK_4"></td>
																<td><input type="checkbox" disabled name="3"  id="checkboxFL_MASK_3"></td>
																<td><input type="checkbox" disabled name="2"  id="checkboxFL_MASK_2"></td>
																<td><input type="checkbox" disabled name="1"  id="checkboxFL_MASK_1"></td>
																<td><input type="checkbox" disabled name="0"  id="checkboxFL_MASK_0"></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
				
											<tr>
												<td>
													<table class="table-nobordered table-equal-cells table-kv-pair zebra-table">
														<tbody>
															<tr>
																<td>
																	<table class="table-nobordered table-kv-pair">
																		<tbody>
																			<tr>
																				<td>Маска:</td>
																				<td><input type="text" id="textboxFL_MASK" value="0x000F"></td>
																			</tr>
				
																			<tr>
																				<td>Количество записываемых кадров:</td>
																				<td><input type="text" id="textboxFL_FRAMES" value="0"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
				
															<tr>
																<td>
																	<table class="table-nobordered table-kv-pair">
																		<tbody>
																			<tr>
																				<td>Стартовая страница:</td>
																				<td><input type="text" id="textboxFL_START_PAGE" value="131073"></td>
																			</tr>
				
																			<tr>
																				<td>Количество считываемых страниц:</td>
																				<td><input type="text" id="textboxFL_NUM_PAGE" value="131073"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
				
															<tr>
																<td>
																	<table class="table-nobordered table-kv-pair">
																		<tbody>
																			<tr>
																				<td>Прореживание (FL_FRAME_DEC):</td>
																				<td><input type="text" id="textboxFL_FRAME_DEC" value="0x0000"></td>
																			</tr>
				
																			<tr>
																				<td>Прореживание (FL_FRAME_REC):</td>
																				<td><input type="text" id="textboxFL_FRAME_REC" value="0"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
				
															<tr>
																<td>
																	<button disabled id="buttonSendParams" style="font-size: 20px;">Отправить настройки видеозаписи (ВН)</button>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
				
								<td style="width: 33ch;">
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td>
													<table>
														<thead>
															<th>Время экспозиции для видеозаписи</th>
														</thead>
								
														<tbody>
															<tr>
																<td>
																	<table class="table-nobordered table-kv-pair table-equal-cells">
																		<tbody>
																			<tr>
																				<td><input type="text" id="textboxShutter" value="0"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
								
															<tr>
																<td>
																	<button id="buttonSendShutter">Отправить ВЭЗ</button>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>

											<tr>
												<td>
													<table>
														<thead>
															<th>Управление передатчиком скоростной линии</th>
														</thead>
								
														<tbody>
															<tr>
																<td>
																	<table class="table-nobordered table-kv-pair table-equal-cells">
																		<tbody>
																			<tr>
																				<td>Trans_ena</td>
																				<td><input type="text" id="textboxTrans_ena" value="0"></td>
																			</tr>

																			<tr>
																				<td>Trans_src_select</td>
																				<td><input type="text" id="textboxTrans_src_select" value="0"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
								
															<tr>
																<td>
																	<button id="buttonSendSpeedLine">Отправить</button>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>

								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<tr id="trLvdsProgress">
				<td>
					<table class="table-nobordered">
						<tbody>
							<tr>
								<td id="tdLvdsDecodingState"></td>
							</tr>

							<tr>
								<td><progress id="progressLvdsDecoding" max="1000" min="0" value="0"></progress></td>
							</tr>

							<tr>
								<td>
									<details open="open">
										<summary>Счётчик пакетов</summary>

										<table class="table-nobordered table-kv-pair zebra-table">
											<tbody>
												<tr>
													<td>Поле данных:</td>
													<td id="tdLvdsChunksCounter">0</td>
												</tr>

												<tr>
													<td>Пактов видео:</td>
													<td id="tdLvdsPkgVideoCounter">0</td>
												</tr>

												<tr>
													<td>Пакеты телеметрии:</td>
													<td id="tdLvdsTelemCounter">0</td>
												</tr>
												
												<tr>
													<td>Всего пакетов:</td>
													<td id="tdLvdsPkgCounter">0</td>
												</tr>

												<tr>
													<td>Кадров видео:</td>
													<td id="tdLvdsFramesCounter">0</td>
												</tr>
											</tbody>
										</table>
									</details>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	
</fieldset>

<script src="video_record_mko.js" onload="main();"></script>