<style>
#divWeightBoundsToSet {
	position: absolute;
	border: 2px solid yellowgreen;
}

#divCurrentWeightBounds {
	position: absolute;
	border: 2px solid red;
}
</style>

<script src="zd_video_record.js" onload="main();"></script>
<table class="table-nobordered height-filled" style="width: max-content;">
	<tbody>
		<tr>
			<td>
				<fieldset>
					<legend>Видео</legend>

					<table class="table-nobordered">
						<tbody>
							<tr>
								<td>
									<div id="videoUIContainer" style="display: contents;">
										<div id="videoContainer" style="display: block;">
											<div id="divWeightBoundsToSet"></div>
											<div id="divCurrentWeightBounds"></div>
											<img class="video-img" id="videoError" src="novideo.jpg">
											<div id="stars">
											</div>
											<div id="videoEffectContainer">
												<img class="video-img" id="video" hidden></img>
											</div>
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td>
									<button style="min-width: 30ch; width: 50%;" id="buttonPlayPause" disabled>
										<label id="labelPlayPause"></label>видео
									</button>
								</td>
							</tr>

							<tr>
								<td>
									<label>Заполнять новый кадр предыдущим <input type="checkbox" id="checkboxFillFrame"/></label>
								</td>
							</tr>

							<tr>
								<td>
									<table class="table-nobordered">
										<tr>
											<td style="width: 24ch;">Сколько кадров пропускать (0 - без прореживания):</td>

											<td>
												<input type="text" id="textboxFrameSkipCount" value="0" disabled>
											</td>

											<td style="width: 24ch;">Сколько кадров подряд:</td>

											<td>
												<input type="text" id="textboxFrameСontinuouslyСount" value="0" disabled>
											</td>

											<td>
												<button id="buttonStartStopCapture" disabled>
													<label id="labelStartStopCapture"></label>запись видео
												</button>
											</td>
										</tr>
									</table>
								</td>
							</tr>

							<tr>
								<td>
									<label><input type="checkbox" disabled id="checkboxTiffCompression">Сжимать tiff при записи</label>
								</td>
							</tr>

							<tr>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td style="width: 24ch;">Количество кадров на файл (0 = без ограничений):</td>
												
												<td>
													<input type="text" id="textboxTiffPagesPerFile">
												</td>
	
												<td>
													<button id="buttonTiffPagesPerFile" disabled>Применить</button>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td>
									<table>
										<tbody>
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tr>
															<td style="width: 24ch;">Не записывать видео если средняя яркость более (0 - без проверки):</td>
				
															<td style="width: 7ch;">
																<input type="text" id="textboxWeightBound" value="0">
															</td>

															<td>
																<label id="labelWeightBound"></label>
															</td>

															<td>
																<button id="buttonResetWeightBound">Сброс до текущего</button>
															</td>
														</tr>
													</table>
												</td>
											</tr>
				
											<tr>
												<td>
													<table class="table-nobordered">
														<tr>
															<td style="float: left;">Границы сенсора яркости:</td>
				
															<td style="width: 7ch;">
																<label>X</label><input type="text" id="textboxWeightSensorX" value="0">
															</td>
				
															<td style="width: 7ch;">
																<label>Y</label><input type="text" id="textboxWeightSensorY" value="0">
															</td>
				
															<td style="width: 7ch;">
																<label>Ширина</label><input type="text" id="textboxWeightSensorW" value="0">
															</td>
				
															<td style="width: 7ch;">
																<label>Высота</label><input type="text" id="textboxWeightSensorH" value="0">
															</td>

															<td>
																<button id="buttonResetWeightSensorBounds">Сброс до текущего</button>
															</td>

															<td>
																<button id="buttonSetWeightSensorBoundsFullScreen">Весь экран</button>
															</td>
														</tr>
													</table>
												</td>
											</tr>

											<tr>
												<td>
													<table class="table-nobordered">
														<tr>
															<td style="float: left;">Настройки gain и мультишаттера:</td>
				
															<td style="width: 7ch;">
																<label>Высокое усиление</label><input type="radio" id="radioFlgFPU_54_0" name="radioFlgFPU_54">
															</td>
				
															<td style="width: 7ch;">
																<label>Низкое усиление</label><input type="radio" id="radioFlgFPU_54_1" name="radioFlgFPU_54">
															</td>
				
															<td style="width: 7ch;">
																<label>200 низкое</label><input type="radio" id="radioFlgFPU_54_2" name="radioFlgFPU_54">
															</td>
				
															<td style="width: 7ch;">
																<label>Чередование</label><input type="radio" id="radioFlgFPU_54_3" name="radioFlgFPU_54">
															</td>

															<td>
																<label>Вкл. мультишаттер</label><input type="checkbox" id="checkboxFlgFPU_2">
															</td>

															<td>
																<button id="buttonSetFlgFPU">Применить</button>
															</td>
														</tr>
													</table>
												</td>
											</tr>
				
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tr>
															<td>Текущая яркость:</td>
															<td id="tdCurrentWeight">0</td>
														</tr>
													</table>
												</td>
											</tr>
				
											<tr>
												<td>
													<button id="buttonAcceptWeightSettings">Применить</button>
												</td>
											</tr>

											<tr>
												<td>
													<button id="buttonChangeLogToAnother">
														<label id="labelChangeLogToAnother">Включить</label> логирование в отдельный файл
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td><input type="range" min="0" max="255" id="sliderBrightness" value="255" disabled></td>
											</tr>
					
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td>Яркость:</td>
																<td id="tdBrightness">0</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
					
							<tr>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td><input type="range" min="0" max="255" id="sliderContrast" value="255" disabled></td>
											</tr>
					
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td>Контраст:</td>
																<td id="tdContrast">0</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td><input type="range" min="0" max="100" id="sliderGamma" value="50" disabled></td>
											</tr>
					
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td>Гамма:</td>
																<td id="tdGamma">0</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</td>
		</tr>

		<tr>
			<td>
				<button onclick="AJAXLoadPage('debug_mode.html');">Тестовая страница</button>
			</td>
		</tr>
	</tbody>
</table>