<script src="zd_video_mko.js" onload="main();"></script>
<table class="table-nobordered height-filled" style="width: max-content;">
	<tbody>
		<tr>
			<td>
				<div id="stars">
					<div class="found-object" hidden>
						<label>+</label>
						<label></label>
						<label></label>
					</div>
				</div>

				<fieldset>
					<legend>Видео</legend>

					<table class="table-nobordered">
						<tbody>
							<tr>
								<td>
									<div id="videoUIContainer" style="display: contents;">
										<div id="videoContainer">
											<img class="video-img" id="videoError" style="z-index: -2;" src="novideo.jpg">
											</div>
											<div id="videoEffectContainer">
												<img class="video-img" id="video" hidden></img>
											</div>
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td><input type="range" min="0" max="255" id="sliderBrightness" value="255" disabled></td>
											</tr>
					
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td>Яркость:</td>
																<td id="tdBrightness">0</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
					
							<tr>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td><input type="range" min="0" max="255" id="sliderContrast" value="255" disabled></td>
											</tr>
					
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td>Контраст:</td>
																<td id="tdContrast">0</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td>
									<table class="table-nobordered">
										<tbody>
											<tr>
												<td><input type="range" min="0" max="100" id="sliderGamma" value="50" disabled></td>
											</tr>
					
											<tr>
												<td>
													<table class="table-nobordered table-kv-pair">
														<tbody>
															<tr>
																<td>Гамма:</td>
																<td id="tdGamma">0</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>

							<tr id="trSetTZPeriod">
								<td>
									<fieldset class=main-fieldset>
										<legend>УПРАВЛЕНИЕ ВЫДАЧЕЙ ТЗ</legend>
										<table class="table-nobordered table-kv-pair">
											<tr>
												<td>
													<input type="checkbox" id="checkboxTelem"/>
												</td>
									
												<td>
													<button id="buttonSetTelemPeriod">Установить период, с:</button>
												</td>
									
												<td>
													<input id="textboxSetTelemPeriod" type="text" value="10">
												</td>
											</tr>
										</table>
									</fieldset>
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</td>

			<td style="vertical-align: top; width: 40ch;" id="tdStars">
				<fieldset class="height-filled" style="overflow-y: scroll;">
					<legend>Звёзды</legend>
					<table class="table-nobordered">
						<tbody>
							<tr>
								<td>
									<table class="table-nobordered table-equal-cells table-monospace">
										<caption>Количество отображаемых звёзд:</caption>
										<tbody>
											<tr>
												<td>
													<input type="text" id="textboxStarsCount" value="20">
												</td>
												<td>
													<button id="buttonStarsCount">Применить</button>
												</td>
											</tr>
										</tbody>
									</table>			
								</td>
							</tr>

							<tr>
								<td>
									<table class="table-nobordered table-tiny table-kv-pair">
										<tbody>
											<tr>
												<td>Общее количество объектов:</td>
												<td id="tdNumOfObj">...</td>
											</tr>

											<tr>
												<td>Количество распознанных объектов:</td>
												<td id="tdNumOfRecObj">...</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td>
									<table class="table-nobordered">
										<tr><td></td></tr>

										<tr>
											<td>
												<table class="table-monospace zebra-table table-tiny">
													<thead>
														<th>№</th>
														<th style="min-width: 7ch;">X</th>
														<th style="min-width: 7ch;">Y</th>
														<th style="min-width: 7ch;">Val</th>
														<th style="min-width: 35ch;">Num</th>
													</thead>
												
													<tbody id="starsTable" class="table-equal-cells">
														<td>Объект</td>
														<td>...</td>
														<td>...</td>
														<td>...</td>
														<td style="color: cornflowerblue;"></td>
													</tbody>
												</table>
											</td>
										</tr>
									</table>	
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</td>
		</tr>
	</tbody>
</table>